# Core TeachBooks / Jupyter Book dependencies
teachbooks
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-exercise
teachbooks-sphinx-tippy

# Additional package registry used by TeachBooks extensions
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
sphinx-thebe ~= 0.9.9